<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<style>
.class{
  font-family: Andika;
}
body{
background-color: #ebebeb;
}
</style>
<body>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Andika" />
<center>
    <h1 class="class">CS2B01 - Platform Based Development</h1>
    <h2 class="class">Julisa Lapa</h2>
    <img src="../static/images/cs.png" />
    <br><a href="../static/html/login.html" class="class" style="font-size: 20px;"><b>Login</b></a>
    <br><a href="../static/html/users.html" class="class" style="font-size: 20px;"><b>Users</b></a>
    <br><a href="../static/html/messages.html" class="class" style="font-size: 20px;"><b>Messages</b></a>
</center>

</body>
</html>
